* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(180deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
    background-size: 100% 100vh;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

/* section met de draai wielen */
main section:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: center;

    perspective: 1000px;
}

main section:nth-child(1) svg {
    width: 8vw;
    height: 8vh;
}

main section:nth-child(1) div > div {
    background-color: white;
     width: 200px;
    height: 200px;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Cube maken */
main section:nth-child(1) > div{
    margin: 10px;
    width: 200px;
    height: 200px;

    transform-style: preserve-3d;
}

/* test annimatie */
  main section:nth-child(1) > div {
    animation: spin 5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotateX(360deg) ;
    }
    100% {
        transform: rotateX(0deg);
    }
}  


main section:nth-child(1) div div{
    margin: 0px;

    position: absolute;
    top: 0;
    left: 0;
    transform-origin: center center;
}

main section:nth-child(1) div div:nth-child(1) {
    transform: translateZ(100px); 
}

main section:nth-child(1) div div:nth-child(2) {
    transform: rotateY(180deg) translateZ(100px);
}

main section:nth-child(1) div div:nth-child(3) {
    transform: rotateX(90deg) translateZ(100px);
}

main section:nth-child(1) div div:nth-child(4) {
    transform: rotateX(-90deg) translateZ(100px);
}

