body {
    background-image: linear-gradient(180deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
    background-size: 100% 100vh;
}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

main div div svg {
    width: 8vw;
    height: 8vh;
}

main div div {
    margin: 1vw 1vh;
    background-color: white;
}

